@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

:root {
  --md-primary-fg-color: #0b7261;
}

h1,
.md-header {
  font-family: "Alfa Slab One";
  letter-spacing: .1em;
  color: black;
}

/*
  #0b7261
  #2e2459
  #a72145
*/